html{
	height: 100%;
}

body { 
	height: 100%;
    margin: 0;
    background: url("../img/pattern.png");
    font-family: Tahoma;
    line-height: 1.5;
    font-size: 14px;
	display: grid;
	grid-template-rows: 100px 1fr 100px;
	grid-template-areas:
        "a"
        "b"
        "c";
	
}

header {
	background-color:rgba(102,102,124,.5);
	padding-top: 10px;
	text-align: center;
	color: #071d6c;
	
	
}


.container {
	
	margin:  5% 0 0 0;
	display: flex;
	gap: 5%;
	justify-content: center;
	
}

.card { 
    width: 300px;
    padding: 25px;
    background-color:  #e9e9e9;
    box-shadow: 25px 25px 20px #ccc;
    border-radius: 20px;
}
.card-photo {
    height: 300px;
	width: 300px;
    border-radius: 50%;
	border: 1px solid lightgray;
}
.card-title {
    font-size: 30px;
    text-align: center;
    color: #071d6c;
        
}
.card-text {
    font-size: 18px;
    text-align: left;
    color: #000;    
}

.card-subtitle {
    font-size: 18px;
    text-align: left;
    color: #071d6c;  
	    
}
.card-list {
    padding-left: 10%;
    list-style-position: inside;
    font-size: 18px;
	
}


.liner {
	margin-top: 5%;
    height: 100px;
	text-align: center;
    background-color:rgba(102,102,124,.5);
	color: #071d6c;
}

@media screen and (max-width:767px) {
    
	.container {
	
		gap: 20px;
		flex-direction: column;
		align-items: center;

	}	
	
}